$red: #eb4a47;
$orange: #f07b41;
$yellow: #fad305;
$green: #a3c440;
$cyan: #17a2b8;
$blue: #2e67b8;
$violet: #8044bb;
$pink: #b740bf;
$purpure: #d13370;

$title-background: #e7f0f1;
$widget-background: #fbfafa;
